:root {
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.list {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.navigation-list:hover,
.navigation-list:focus {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.header {
  display: flex;
}

.navigation {
  display: flex;
}

/* ===============headr================ */

.logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-title-header {
  color: #212121;
}

.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.navigation-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* =========================end header====================== */

/* ========================hero section===================== */
.hero-section {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-screen-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
}

/* .main-screen-button-text {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
} */

/* ======================== end hero section===================== */

/* ========================features-section===================== */

.features-section {
  position: absolute;
  width: 1170px;
  height: 251px;
  left: 215px;
  top: 774px;
}

.features-list {
  display: flex;
}

.features-section-title {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*======================== end features-section ===============================*/

/*======================== what-we-do-section ===============================*/
.what-we-do-section {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-img {
  display: row;
}

/*========================end what-we-do-section ===============================*/

/*========================our-team-section ===============================*/

.our-team-section {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.our-team-list {
  display: flex;
}

.our-team-poster-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ======================end our-team-section=================== */

/*========================================================== porfolio page======================================== */
.portfolio-container {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.portfolio-page-button-list {
  display: flex;
}

.porfolio-page-button:focus,
.porfolio-page-button:hover {
  color: white;
  background-color: var(--accent-color);
}

.porfolio-page-button {
  background: #f5f4fa;
  border-radius: 4px;
}
.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
/* ======================footer dection=================== */

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2679px;
  background: #2f303a;
}
.logo-title-footer {
  color: white;
}

.footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
}

.footer-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
