:root {
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.list {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.navigation-list:hover,
.navigation-list:focus {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.header {
  display: flex;
}

.navigation {
  display: flex;
}

.section-title{
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/* ===============headr================ */

.logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-title-header {
  color: #212121;
}

.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.navigation-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* =========================end header====================== */

/* ========================hero section===================== */
.hero-section {
  width: 1600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.hero-title {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-screen-button {
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
letter-spacing: 0.06em;
  color: white;
}

/* .main-screen-button-text {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
} */

/* ======================== end hero section===================== */

/* ========================features-section===================== */

.features-section {
  width: 1170px;
  height: 251px;
  left: 215px;
  top: 774px;
}

.features-section-container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
}

.features-section-title {
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*======================== end features-section ===============================*/

/*======================== what-we-do-section ===============================*/
.what-we-do-section {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-img {
  display: row;
}

/*========================end what-we-do-section ===============================*/

/*========================our-team-section ===============================*/

.our-team-section {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.our-team-list {
  display: flex;
}

.our-team-poster-title {
  
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
}

.our-team-poster-description {
font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ======================end our-team-section=================== */

/*========================================================== porfolio page======================================== */
.portfolio-container {
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.portfolio-page-button-list {
  display: flex;
}

.porfolio-page-button:focus,
.porfolio-page-button:hover {
  color: white;
  background-color: var(--accent-color);
}
/* .button-one{
  width: 73px;
height: 38px;
left: 495px;
top: 174px;
}
.button-two{
  width: 128px;
height: 38px;
left: 576px;
top: 174px;
}

.button-three{
  width: 145px;
height: 38px;
left: 712px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
}

.button-four{
  width: 103px;
height: 38px;
left: 865px;
top: 174px;
}

.button-five{
  width: 130px;
height: 38px;
left: 976px;
top: 174px;
} */

.porfolio-page-button {
  background: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
}

.portolio-poster-title{
  font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}

.porfolio-poster-discription {
  font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}

.portfolio-footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
/* ======================footer dection=================== */

.footer-adres:hover,
.footer-adres:focus,
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus
 {
  color: white;
}


.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2679px;
  background: #2f303a;
}
.logo-title-footer {
  color: white;
}

.footer-adres-container {
  font-style: normal;
}

.footer-adres {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
